apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-app
  namespace: webapp
  labels:
    app: java-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      serviceAccountName: java-app-sa  # Uses the service account with ECR permissions
      containers:
      - name: java-app
        image: 689978033779.dkr.ecr.ap-south-1.amazonaws.com/github-action-runners/java-app:1.0.12  # Update region if different
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          requests:
            cpu: 50m
            memory: 512Mi
          limits:
            cpu: 100m
            memory: 1Gi
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 90
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 75
          periodSeconds: 5
