name: Build-Push-Deploy #name of the workflow
on: 
  push:
    branches: [ "main" ]

jobs:
  build_push_deploy:
    runs-on: [self-hosted, medium] #using self-hosted runner

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: "temurin"
        java-version: "17"
        cache: 'maven'

    - name: Install Maven
      run: |
        sudo apt-get update
        sudo apt-get install -y maven

    - name: Build with Maven
      run: mvn -B package

    - name: Configure with AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ap-south-1

    - name: login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
    
    - name: Build and Push to ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: java-app
        IMAGE_TAG: 1.0.${{ github.run_number }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        
    - name: Deploy to EKS
      run: |
        kubectl set image deployment/java-app-deployment java-app-container=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -n webapp
        kubectl rollout status deployment/java-app-deployment -n webapp